In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

# PreProcessing
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder,RobustScaler,MinMaxScaler
import category_encoders as ce
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

# Splitting Data
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score

# Resampling
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.under_sampling import RandomUnderSampler, NearMiss
from imblearn.combine import SMOTETomek
from imblearn.pipeline import Pipeline

# Modeling, Fitting and Evaluation
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, precision_score, roc_auc_score, plot_roc_curve,recall_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from datetime import datetime
import datetime
from sklearn import metrics

# Boosting
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from xgboost.sklearn import XGBClassifier

#feature Selection
from sklearn.feature_selection import SelectPercentile, RFE

#clustering
from scipy.spatial.distance import cdist,pdist
from sklearn.metrics import silhouette_score
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans

#saving
import joblib
import pickle

In [2]:
data = pd.read_csv('marketing_data.csv')

In [3]:
data

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,"$84,835.00",0,0,6/16/14,0,189,...,6,1,0,0,0,0,0,1,0,SP
1,1,1961,Graduation,Single,"$57,091.00",0,0,6/15/14,0,464,...,7,5,0,0,0,0,1,1,0,CA
2,10476,1958,Graduation,Married,"$67,267.00",0,1,5/13/14,0,134,...,5,2,0,0,0,0,0,0,0,US
3,1386,1967,Graduation,Together,"$32,474.00",1,1,5/11/14,0,10,...,2,7,0,0,0,0,0,0,0,AUS
4,5371,1989,Graduation,Single,"$21,474.00",1,0,4/8/14,0,6,...,2,7,1,0,0,0,0,1,0,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,"$66,476.00",0,1,3/7/13,99,372,...,11,4,0,0,0,0,0,0,0,US
2236,5263,1977,2n Cycle,Married,"$31,056.00",1,0,1/22/13,99,5,...,3,8,0,0,0,0,0,0,0,SP
2237,22,1976,Graduation,Divorced,"$46,310.00",1,0,12/3/12,99,185,...,5,8,0,0,0,0,0,0,0,SP
2238,528,1978,Graduation,Married,"$65,819.00",0,0,11/29/12,99,267,...,10,3,0,0,0,0,0,0,0,IND
2239,4070,1969,PhD,Married,"$94,871.00",0,2,9/1/12,99,169,...,4,7,0,1,1,0,0,1,0,CA

In [4]:
#unique dari setiap column
for i in data.columns:
    result = data[i].unique()
    print (i,'\n',result,'\n')

ID
 [ 1826     1 10476 ...    22   528  4070]

Year_Birth
 [1970 1961 1958 1967 1989 1954 1947 1979 1959 1981 1969 1977 1960 1966
 1976 1965 1956 1975 1971 1986 1972 1974 1990 1987 1984 1968 1955 1983
 1973 1978 1952 1962 1964 1982 1963 1957 1980 1945 1949 1948 1953 1946
 1985 1992 1944 1951 1988 1950 1994 1993 1991 1893 1996 1995 1899 1943
 1941 1940 1900]

Education
 ['Graduation' 'PhD' '2n Cycle' 'Master' 'Basic']

Marital_Status
 ['Divorced' 'Single' 'Married' 'Together' 'Widow' 'YOLO' 'Alone' 'Absurd']

 Income
 ['$84,835.00 ' '$57,091.00 ' '$67,267.00 ' ... '$46,310.00 ' '$65,819.00 '
 '$94,871.00 ']

Kidhome
 [0 1 2]

Teenhome
 [0 1 2]

Dt_Customer
 ['6/16/14' '6/15/14' '5/13/14' '5/11/14' '4/8/14' '3/17/14' '1/29/14'
 '1/18/14' '1/11/14' '12/27/13' '12/9/13' '12/7/13' '10/16/13' '10/5/13'
 '9/11/13' '8/1/13' '7/23/13' '7/1/13' '5/28/13' '3/26/13' '3/15/13'
 '2/12/13' '11/23/12' '10/13/12' '9/14/12' '6/29/14' '5/31/14' '5/30/14'
 '4/27/14' '4/11/14' '10/29/13' '10/9/13' '5/10/13' '5/9/13' '4/25/13'
 '4/20/13' '3/30/13' '3/1/13' '2/14/13' '1/11/13' '1/3/13' '12/19/12'
 '12/15/12' '12/2/12' '9/17/12' '9/11/12' '5/12/14' '4/28/14' '3/29/14'
 '3/6/14' '3/4/14' '2/4/14' '2/3/14' '1/1/14' '12/12/13' '11/15/13'
 '9/20/13' '9/5/13' '8/31/13' '7/30/13' '7/27/13' '6/22/13' '1/5/13'
 '11/21/12' '11/11/12' '9/28/12' '9/27/12' '9/7/12' '8/13/12' '8/11/12'
 '8/2/12' '6/25/14' '5/28/14' '4/14/14' '3/10/14' '2/27/14' '2/7/14'
 '1/28/14' '11/17/13' '11/7/13' '10/17/13' '10/13/13' '10/12/13' '9/30/13'
 '7/3/13' '6/10/13' '5/29/13' '4/29/13' '3/10/13' '1/2/13' '11/2/12'
 '10/18/12' '10/1/12' '9/3/12' '8/26/12' '5/23/14' '5/17/14' '4/21/14'
 '3/23/14' '12/16/13' '11/26/13' '11/14/13' '11/6/13' '10/6/13' '9/27/13'
 '9/18/13' '9/9/13' '7/18/13' '7/8/13' '5/27/13' '3/5/13' '2/20/13'
 '1/12/13' '12/24/12' '11/19/12' '3/28/14' '2/24/14' '9/2/13' '8/20/13'
 '6/23/13' '5/5/13' '4/5/13' '1/4/13' '12/27/12' '11/10/12' '10/29/12'
 '9/22/12' '3/31/14' '3/21/14' '2/9/14' '9/23/13' '6/27/13' '3/28/13'
 '3/12/13' '1/16/13' '1/8/13' '12/29/12' '12/12/12' '11/25/12' '9/21/12'
 '9/9/12' '9/5/12' '8/17/12' '6/22/14' '5/1/14' '1/3/14' '10/11/13'
 '8/13/13' '6/9/13' '5/7/13' '10/2/12' '9/12/12' '3/19/14' '3/3/14'
 '2/22/14' '1/24/14' '12/4/13' '11/28/13' '11/5/13' '10/3/13' '8/9/13'
 '8/7/13' '7/17/13' '7/9/13' '6/11/13' '5/17/13' '3/23/13' '2/19/13'
 '1/19/13' '1/10/13' '1/1/13' '11/12/12' '5/18/14' '3/30/14' '1/30/14'
 '1/26/14' '1/22/14' '1/15/14' '12/13/13' '8/4/13' '5/1/13' '4/24/13'
 '4/3/13' '2/3/13' '11/16/12' '8/3/12' '4/18/14' '4/1/14' '3/18/14'
 '2/10/14' '11/23/13' '11/21/13' '10/2/13' '7/21/13' '6/18/13' '3/24/13'
 '12/6/12' '11/9/12' '2/14/14' '10/22/13' '10/4/13' '9/21/13' '8/5/13'
 '7/14/13' '7/4/13' '4/12/13' '4/10/13' '4/8/13' '3/31/13' '3/17/13'
 '1/21/13' '12/10/12' '9/24/12' '8/6/12' '6/18/14' '4/5/14' '12/21/13'
 '10/27/13' '10/21/13' '9/19/13' '9/4/13' '6/25/13' '4/27/13' '4/18/13'
 '12/30/12' '8/22/12' '8/8/12' '6/19/14' '4/20/14' '2/28/14' '12/17/13'
 '11/25/13' '10/28/13' '8/15/13' '7/5/13' '6/19/13' '6/16/13' '4/22/13'
 '3/19/13' '2/23/13' '2/15/13' '10/31/12' '10/7/12' '8/9/12' '5/6/14'
 '4/15/14' '3/5/14' '2/19/14' '9/7/13' '8/6/13' '7/25/13' '4/30/13'
 '9/10/12' '3/20/14' '9/28/13' '9/24/13' '2/16/13' '11/22/12' '9/18/12'
 '8/16/12' '6/5/14' '4/13/14' '4/10/14' '4/3/14' '2/12/14' '12/15/13'
 '10/30/13' '8/26/13' '2/2/13' '1/25/13' '11/17/12' '11/13/12' '11/7/12'
 '11/1/12' '10/16/12' '5/8/14' '3/2/14' '6/24/13' '6/13/13' '4/23/13'
 '4/15/13' '1/29/13' '10/30/12' '10/23/12' '4/17/14' '2/25/14' '12/11/13'
 '10/10/13' '5/20/13' '5/18/13' '4/7/13' '3/3/13' '12/7/12' '11/28/12'
 '10/27/12' '9/15/12' '6/17/14' '5/29/14' '3/1/14' '2/15/14' '12/23/13'
 '11/29/13' '10/25/13' '8/17/13' '6/6/13' '3/29/13' '9/23/12' '8/30/12'
 '8/1/12' '2/8/14' '1/25/14' '11/27/13' '10/19/13' '3/7/13' '2/28/13'
 '1/17/13' '11/20/12' '11/5/12' '11/3/12' '8/31/12' '8/12/12' '5/15/14'
 '4/12/14' '4/6/14' '2/6/14' '7/29/13' '6/29/13' '6/17/13' '6/8/13'
 '5/26/13' '11/8/12' '8/4/12' '4/30/14' '4/7/14' '3/12/14' '4/13/13'
 '2/13/13' '6/3/14' '3/25/14' '2/17/14' '2/5/14' '1/27/14' '1/14/14'
 '7/11/13' '6/2/13' '6/1/13' '5/4/13' '3/18/13' '12/3/12' '11/24/12'
 '10/26/12' '6/20/14' '1/19/14' '1/9/14' '12/29/13' '12/26/13' '12/8/13'
 '11/20/13' '8/23/13' '8/19/13' '7/24/13' '10/6/12' '8/18/12' '5/7/14'
 '11/9/13' '8/25/13' '5/16/13' '4/1/13' '3/27/13' '2/8/13' '9/20/12'
 '5/22/14' '12/30/13' '11/2/13' '8/21/13' '7/12/13' '6/28/13' '6/4/13'
 '5/31/13' '3/6/13' '2/18/13' '9/26/12' '8/19/12' '5/2/14' '4/29/14'
 '2/2/14' '1/5/14' '12/5/13' '11/18/13' '9/10/13' '8/3/13' '2/21/13'
 '2/10/13' '1/31/13' '12/9/12' '9/29/12' '6/9/14' '4/2/14' '3/24/14'
 '1/23/14' '9/16/13' '9/12/13' '7/15/13' '3/9/13' '2/9/13' '12/14/12'
 '10/17/12' '6/23/14' '6/12/14' '6/7/14' '4/9/14' '2/13/14' '12/6/13'
 '10/20/13' '6/20/13' '5/8/13' '3/11/13' '9/6/12' '3/9/14' '2/11/14'
 '10/8/13' '8/28/13' '7/6/13' '5/30/13' '5/22/13' '4/2/13' '3/20/13'
 '3/14/13' '1/22/13' '9/8/12' '8/25/12' '8/14/12' '11/19/13' '6/3/13'
 '12/21/12' '10/10/12' '8/7/12' '12/24/13' '12/14/13' '5/15/13' '5/6/13'
 '1/7/13' '11/29/12' '4/24/14' '3/8/14' '7/16/13' '2/22/13' '1/20/13'
 '1/13/13' '12/25/12' '12/11/12' '6/27/14' '3/16/14' '11/3/13' '9/25/13'
 '9/15/13' '9/1/13' '8/2/13' '8/27/12' '4/4/14' '9/22/13' '12/22/12'
 '12/16/12' '8/20/12' '1/7/14' '12/1/13' '9/26/13' '2/25/13' '10/24/12'
 '10/22/12' '7/31/12' '5/19/14' '5/3/14' '4/16/14' '12/31/13' '12/2/13'
 '7/22/13' '4/21/13' '4/11/13' '3/22/14' '2/6/13' '12/4/12' '11/6/12'
 '8/28/12' '7/2/13' '10/12/12' '5/16/14' '4/25/14' '11/13/13' '9/6/13'
 '11/18/12' '10/15/12' '6/14/14' '1/17/14' '2/7/13' '12/20/13' '9/13/13'
 '1/6/13' '5/26/14' '1/13/14' '8/8/13' '4/6/13' '2/26/14' '5/14/13'
 '8/24/12' '5/27/14' '2/23/14' '1/10/14' '7/19/13' '3/25/13' '2/11/13'
 '1/15/13' '12/5/12' '6/13/14' '6/2/14' '11/1/13' '8/16/13' '2/17/13'
 '2/4/13' '10/19/12' '6/26/14' '10/23/13' '4/14/13' '10/28/12' '10/1/13'
 '3/8/13' '11/14/12' '1/12/14' '11/4/13' '8/22/13' '6/21/13' '1/23/13'
 '10/21/12' '10/4/12' '1/31/14' '1/21/14' '12/28/13' '8/11/13' '5/13/13'
 '9/2/12' '6/24/14' '6/8/14' '5/24/14' '10/18/13' '9/17/13' '8/14/13'
 '7/20/13' '6/30/13' '5/11/13' '4/16/13' '5/25/14' '5/10/14' '5/4/14'
 '8/29/13' '3/22/13' '6/4/14' '5/23/13' '2/1/13' '2/16/14' '10/24/13'
 '3/2/13' '12/18/12' '11/4/12' '6/11/14' '6/14/13' '6/10/14' '5/5/14'
 '4/19/14' '8/18/13' '2/26/13' '8/30/13' '6/12/13' '5/12/13' '10/9/12'
 '11/10/13' '8/24/13' '9/4/12' '2/27/13' '1/6/14' '7/7/13' '11/26/12'
 '8/29/12' '5/2/13' '3/4/13' '1/27/13' '8/23/12' '10/14/13' '12/23/12'
 '12/1/12' '8/5/12' '8/27/13' '12/17/12' '6/21/14' '3/26/14' '11/22/13'
 '8/21/12' '4/22/14' '10/26/13' '5/9/14' '4/17/13' '3/21/13' '1/24/13'
 '12/28/12' '3/13/14' '2/1/14' '10/15/13' '1/14/13' '10/5/12' '7/13/13'
 '4/23/14' '2/18/14' '11/12/13' '8/12/13' '12/31/12' '6/28/14' '12/3/13'
 '12/26/12' '7/30/12' '1/2/14' '4/19/13' '1/26/13' '10/14/12' '9/30/12'
 '3/11/14' '9/14/13' '7/28/13' '5/19/13' '4/28/13' '1/9/13' '10/20/12'
 '7/31/13' '5/21/13' '9/25/12' '5/3/13' '12/8/12' '3/27/14' '12/18/13'
 '11/30/13' '8/10/13' '3/16/13' '11/30/12' '3/7/14' '12/19/13' '10/25/12'
 '12/25/13' '1/4/14' '11/8/13' '11/27/12' '7/26/13' '12/20/12' '10/11/12'
 '4/26/14' '12/22/13' '6/26/13' '5/24/13' '8/15/12' '12/10/13' '9/19/12'
 '8/10/12' '6/6/14' '5/25/13' '4/9/13' '9/1/12']

Recency
 [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]

MntWines
 [ 189  464  134   10    6  336  769   78  384  450  140  431    3   16
   63   18   53    5  213  275   40  308  266   80  454   27  184  155
  423    7  408    1 1285   71 1248  378   12 1200  709   94    4  539
   13  670  158  283  496  292   46   34  167  318  522   67   28   58
    2  229   14  622  362   38 1074  983  262  739  610   50  650    9
  458  520   20  345   22   42  463  260  180   62  421  154  502  145
  322 1099  890  863  448  399   85   97   35  315  738  179  381  247
  711   30  288  212  173  604  482  531  230   33  784  600  168  493
   29  835 1296  760   70   68  325  303  121  561  462  376  341  595
   23  530  594  852  194  216  428 1092  559  606   11  588  316  279
 1462  546  277  948  664  268  199   73   96  587   56   45    8  508
  234  992  125  174 1478 1001  392  388   65  177  577  460  219   31
  117  236  120  200  532  297  151  997  797  823  966   37  416  314
  342  629  201  964   72  123  159  209  100 1170  387  357  912  625
  420  641  712  465   39  514  565  667   66  129  185 1023  338  647
  163   19  182  779   32  298  488  817  459  492  558  383 1043  400
  691  783   43  777  402  144  840   88   74   26   15  162 1302   47
    0  918  172  931  666   24   25  391   81  674  267  224 1239  412
 1205  304   76 1004  584  422  269  613  113  261  856  452  658  451
  395  688 1035  365  181  331  256  836  233  881  305  778   69   79
  344 1184  490 1349  153   84 1000   52  301  519  238  620  572  380
  443  252  796  410  507   55  327  397  105 1126  280  108  102  820
   86  217  352  240  124  736 1006  580  112  227  290  284  656  953
  626  547  795  895  899  178  265  349  848  962  347  426   48 1076
   36  733  523 1083   98   99  138  509  527  340  434  208  438 1308
   64  673 1050  787  833  605  800  861  161  359  324  370  245  631
 1156  398  122  386  379  243  358  258  846  724  770  815  819  479
  938  909  156  940   51  141  160  557  196  295  231 1230   91 1060
   17  302  728  110  995  704  415  241  135  254  957  293   21  754
  822  373 1171  371  801  244  562  707  356  743  235  393  721  896
  879  367  693  816  483 1181  491  755  671 1009  972  598  139  702
  239  183  771   83  170   59 1063  789  228  512  355  204  556  317
  897  187  826  513  313  329  703  571 1218  478 1332 1032  296  635
  294  913  731  281  489  551  471  176  534  768  652 1142   41  207
  299  525  676  494  353 1253  521  977  603  967  273  425 1394  171
  554  191  131 1073  157  226  186 1276  130  614 1288  563   95  210
  306  505  758  824  980  526  690  202  792  545  109  382  132  750
  223   57  407   90   61   82  220  517  615  480  752  741  456  143
  375 1215  106  871  368 1193  441   87  437  965  510  574  332  642
  354  390  476  627  165  806  763  205 1003  790 1148  984  941  799
  406  128  377  919  198  215 1493 1090  536 1149  586   77  794  774
  328  901  866  753 1048  960  888  654  499  576   44  735  548  206
  611  713  593 1311 1166 1486  515 1492  533  575  726  445 1259  248
 1111  710 1241  529  447  570  867  757  882  291  333  749  203  619
  320  311 1103  404  411  211  446  374  221 1047 1206  274  889  146
 1115   54  251  166   75  364 1016  432  270  722  516  350  403  218
  560  729 1224 1121  503 1245 1459  621  430  979  116  853   93  127
  689  686  630  466  910  389 1379  504   60 1067  264  101  581  952
  925  457 1017  249  104  111  618 1039  107  225  440 1168   89  255
  424  944  908  597  847  543  742  968  708  152  747  958  330  637
  418  986  825 1298 1132  746  812 1315  307  860 1396  583  473  553
  675 1324  582 1449  829  335  612  175  197  623  544  714  537  285
  366 1252  934  518  734 1045  717  830 1020  680  524 1013  864  164
  653  369 1012  133  188  811  639  444  372  928  272   92  555  351
  263  982  495  312  737  751  346  684  309  115  136  756 1279  538
  920  433  192  453  321  169]

MntFruits
 [104   5  11   0  16 130  80  26   4  82  10   6   1   9   2  21 174   7
  42  12  22  45 169   3  35  36  51   8  50  37  76  17 107 105  81  53
  96  86  32  19 193  63  83  28  49  34  69  40  48  13  20 148  73  23
 103  64  61 142  97 117 134  60  25  30 153  58  33  57  14  24  18 106
  88 133  99  68  72  38 129  93  74  27 185  15  79 162  71  56 168  98
  44 172  54 140 194  91 183 151 197 178 189 102 155 115  77  90 114  39
  59 199 154 123 108 137  66  31  43 120  84  29 112  46 160 159  65 111
 147 143 161 144  47 181  89  62  41 132  67 138  55 184 122  75  70  85
 149 152 100 164 101 126  87  92 166 124 190 131 163 127]

MntMeatProducts
 [ 379   64   59    1   24  411  252   11  102  535   61  441    8   12
   57    2    5    3   76   68   23   73  300   37  171  256   80  706
   21    9  449  112    6  349  189   17  204  115   33  816  249  179
   38  460    4  981   13    7   43  407  257   26   18  140   16  431
   22  518  184  309  125   28  653  780  356  154  528  333  559  348
   44   20  536  202  132  459   50   45  292  547   30   41   67  322
  232  520  215  159  217   69  100  471  469  192  849  560   14  350
  444  206  223  380  311  466  751  785  113  291   83  678  786  207
   56  273  214  592  503  228  161   88  128   48   86  240   60   96
  898   29   99   77  694   81  403   91  218   46   71  422   31  873
  111  168   10   89  269  293  282  241   53   19   15   70  172  137
  142   40   79  594  278  569  271  170  242  452  456   84  538  732
  548  850  259  651  391   90  298 1725  537  697  687   32  622  209
   97   35  731  106  804   42  243    0   98  842  253  124  108   25
  413  235  230  145  212  238  320  495  319  424   74  109  599  570
  410  483   39  565  670  117  103  575  101  501   27  689   58  482
  673  167  195  286  733  165  827  590  364   52 1622  104  211   49
  711   75  373  216  119  267  279   54  389  177  160  480  812  545
  303  144  323  797  194  127  180  134  649  497  352  400  396  107
  199  549  399  573  297  558  136   62  522  420  314  186   92  572
   63  388  239  915  367   95  157  143  890   72   82  754  372  114
  196   36  761  512  835  131  133  499  417  853  555  175  255  625
  219  181  164  925  690  509   51  153  120  270  231  562  655  595
  141   78  345  151  951  130  514  845  247  288   66   65   47  317
  222  601  523  272  193  779  254  376  155  353  152  792  510  860
  818  561  631  203   93  929  470  447  201  974  426  753  110  263
  617  178  305  708  182  156  250  158  921  234  398  280   85  746
  445  613  384  500  385  401  162  118  265  275   34  174  185  274
  221  368  123  476  169  704  639  281 1607  550  377  462  597  147
  138  432  397  604  375  374  540  505  507  454  224  226  183  815
  961  446  546  567  749  553  264  359  287  329  493  607  428  363
  843   55  790  899  337   94  614  387  883  294  260  640  530  335
  768  554  116  304  685  473  334  129  276  534  425  461  341  568
  442  419  332  672  414  935  163  369  266  747  713  740   87  611
  591  295  405  724  602  464  756  758  603  248  149  750  188  586
  693  490  674  940  606  324  716  408  430  913  717  494  519  735
  205  342  237  932  813  654  360  139  409  315  176  135  415  984
  612  213  435  122  227  491  629  395  465  742  338  864  968  392
  487  121  946  498  421  736  197  936  166  382  450  455  635  233
  351  832  801  838  354 1582  757  650  774  208  126  701]

MntFishProducts
 [111   7  15   0  11 240  21  73  80   3   2  13   4  25  65   8  50 106
 138  43  97   6  38  30  20 189 224  16 150  32  10 134 193 180 140 137
  28  27  19  98 168  63  76  82  39 205  86  52  46  84 172 119  49 229
  42  29 116 114  45  17 259 127  33  78 130 145 218  12 110  62  71 247
   1  51  91  26  23  69  34  72 124  99 185  89  47 182 160 136  64 175
 162 216 142 207  41 101 108 192  55  59  40  31  24 123 166 201  58  90
 169 219  37 125  85  77 151 242  95 234 253 258  36 227  93 188 104 128
  94  54 141 250 159 121 232 184 120 179 158 153  35 171 112 202  56 173
  81 132 164  75 197 210  60  68 199 181 237 129 156 149 167 231 102 220
 212 198  67 208 133 103 254 177  44 246 223 146  48 186 225 147  61   5
 194 115]

MntSweetProducts
 [189   0   2  32  34  98  13  20  16   4   1   3   7   8  19  30 197  14
  89 172  29 160  12   5  28  60  23  35  92 138  10  80  42  21 167  50
  75  53   9 178   6  26  25  99 101 123  82  96  68  37  48 176  49  73
  69  58  44  62 128 151 133  11 134  36  41 148  15  51  22 262  18  97
  54  77  76 121  45  64 142 198  83  55  67 149  24 175 162  17  40 137
  71  94 114  38  74  46  43 102  65 141 110 152 263  27  33 112  70  47
 115  59  85 126  61 163  91  95  31 120 116 125 144 122  57  56  81 106
  88 185 130 107 143  66 105 111 108 179 118  93 103  84 161 147 194  72
 192 109 150  86 153 165 187  78 132 191 174  87 196 157 169  39 136 139
 100 129 166 173 188 182 156  79  63 195 127 145 146 124 113]

MntGoldProds
 [218  37  30   0  34  43  65   7   5  26   4 102  32 321  22   2  10  23
  44   3 197  17  20  29  16 172  14  45  12   6   9 125  27   1  13   8
  66 262  11  15  54 129  39  35  21  40  97  67  90  31 145  42  33  62
  41  24 143  50  47 109 168  28 150  91  53 128  48 148  80  25  51 191
 108 107  69 121 147  57  71  64  63  61  55 181 135 160  56  86 119  19
 112 153 130  18  58 133 152  95  83  88 134  38  68  76 140  79  99  52
 116 138 166  59 241 157 114 219 231 110 183 205  74  36 177 192 246 127
 122  96  49  77 362  72 144 120 141 248  82 196 139  46  93 190  75 174
 170 182  78 169 106  60  92 233 146  89 198 176 171 242 111 158 101 124
 118 232 227 203  81 142 117 200  84  85 224 207 154 216  70 151  73 132
  94 223 137 100 247 163 126 103 149 162 185 204 173 245 195 161  98 131
 187 215 159 249 210 180 115 178 229 155 291 199 175 165 123]

NumDealsPurchases
 [ 1  2  3  0  4 12  7  5  6 11  9  8 10 15 13]

NumWebPurchases
 [ 4  7  3  1 10  2  6  5 25  8  9  0 11 27 23]

NumCatalogPurchases
 [ 4  3  2  0  1  7 10  6  8  5  9 11 28 22]

NumStorePurchases
 [ 6  7  5  2  3  9 10  0  8  4 13 12  1 11]

NumWebVisitsMonth
 [ 1  5  2  7  6  4  8  3  9  0 17 13 10 14 19 20]

AcceptedCmp3
 [0 1]

AcceptedCmp4
 [0 1]

AcceptedCmp5
 [0 1]

AcceptedCmp1
 [0 1]

AcceptedCmp2
 [0 1]

Response
 [1 0]

Complain
 [0 1]

Country
 ['SP' 'CA' 'US' 'AUS' 'GER' 'IND' 'SA' 'ME']

**Data Cleansing**

In [5]:
#menambahkan column umur berdasarkan pengurangan thun bergabung dengan tahun lahir
data['Dt_Customer']= pd.to_datetime(data['Dt_Customer'])
data['Customer_Age'] = data['Dt_Customer'].dt.year - data['Year_Birth']

In [6]:
#merubah tanggal cust bergabung menjadi berapa lama cust telah bergabung 
todayy = pd.Timestamp('28/2/21') #tanggal perhitungan terakhir
data['Dt_Customer'] = (todayy - data['Dt_Customer']).dt.days

In [7]:
#rename col income untuk memudahkan dlm pemanggilan dan merubah mjd numeric
data.rename(columns={' Income ':'Income'},inplace=True)
data['Income']=data['Income'].str.replace('[$,]','').astype(float)

In [8]:
data['Dt_Customer']

0       2449
1       2450
2       2483
3       2485
4       2518
        ...
2235    2915
2236    2959
2237    3009
2238    3013
2239    3102
Name: Dt_Customer, Length: 2240, dtype: int64

# Meringkas Categori dari Marital_Status
Single : Single, Widow, Divorced,Alone
Together : Married, Together
Other : Absurd, YOLO

In [9]:
data['Marital_Status'] = data['Marital_Status'].replace(['Widow','Divorced','Alone'],'Single')
data['Marital_Status'] = data['Marital_Status'].replace(['Married'],'Together')
data['Marital_Status'] = data['Marital_Status'].replace(['Absurd','YOLO'],'Other')

In [10]:
data['Marital_Status'].unique()

array(['Single', 'Together', 'Other'], dtype=object)

*Missing Value*

In [11]:
data.isna().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Response                0
Complain                0
Country                 0
Customer_Age            0
dtype: int64

Pengisian missing value dimasukkan kedalam column transformer

*Outlier*

In [12]:
q1 = data.quantile(0.25)
q3 = data.quantile(0.75)
IQR = q3-q1

In [13]:
((data < (q1-1.5*IQR)) | (data > (q3+1.5*IQR))).sum()/len(data)*100

AcceptedCmp1            6.428571
AcceptedCmp2            1.339286
AcceptedCmp3            7.276786
AcceptedCmp4            7.455357
AcceptedCmp5            7.276786
Complain                0.937500
Country                 0.000000
Customer_Age            0.133929
Dt_Customer             0.000000
Education               0.000000
ID                      0.000000
Income                  0.357143
Kidhome                 0.000000
Marital_Status          0.000000
MntFishProducts         9.955357
MntFruits              10.133929
MntGoldProds            9.241071
MntMeatProducts         7.812500
MntSweetProducts       11.071429
MntWines                1.562500
NumCatalogPurchases     1.026786
NumDealsPurchases       3.839286
NumStorePurchases       0.000000
NumWebPurchases         0.178571
NumWebVisitsMonth       0.357143
Recency                 0.000000
Response               14.910714
Teenhome                0.000000
Year_Birth              0.133929
dtype: float64

Terdapat nilai outlier diatas 10% di beberapa column, jadi jika menggunakan scalling maka akan menggunakan Robust Scaller

**Preprocessing**

preprocessing scheme:
    one hot : education,marital_status
    binary : country
    drop : ID,yearbirth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Dt_Customer,ID(karena tdk ada corelasi dengan respon yang ingin mencari Customer baru)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   int64
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Response             2240 non-null   int64
 26  Complain             2240 non-null   int64
 27  Country              2240 non-null   object
 28  Customer_Age         2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [15]:
mean_scale = Pipeline([
    ('impute', SimpleImputer(strategy = 'mean')),
    ('scaling', RobustScaler()),
])

transformer = ColumnTransformer([
    ('impute',mean_scale,['Income']),
    ('encoder',OneHotEncoder(handle_unknown='ignore'),['Education','Marital_Status']),
    ('binary',ce.BinaryEncoder(),['Country']),
    ('scale',RobustScaler(),['Customer_Age','Recency'])
],remainder='passthrough')

data=data.drop(['MntWines','MntFruits','MntMeatProducts','MntFishProducts','MntSweetProducts','MntGoldProds','NumDealsPurchases','NumWebPurchases','NumCatalogPurchases','NumStorePurchases','NumWebVisitsMonth','Complain','Dt_Customer','ID','Year_Birth','AcceptedCmp3','AcceptedCmp4','AcceptedCmp5','AcceptedCmp1','AcceptedCmp2'],axis=1)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Education       2240 non-null   object
 1   Marital_Status  2240 non-null   object
 2   Income          2216 non-null   float64
 3   Kidhome         2240 non-null   int64
 4   Teenhome        2240 non-null   int64
 5   Recency         2240 non-null   int64
 6   Response        2240 non-null   int64
 7   Country         2240 non-null   object
 8   Customer_Age    2240 non-null   int64
dtypes: float64(1), int64(5), object(3)
memory usage: 157.6+ KB

In [17]:
X=data.drop(['Response'],axis=1)
y=data['Response']

In [18]:
#cek transform
transformer.fit_transform(data)

array([[ 1.0104577 ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.16333852,  0.        ,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.47404659,  0.        ,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-0.16584226,  0.        ,  0.        , ...,  1.        ,
         0.        ,  0.        ],
       [ 0.4298342 ,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 1.31689109,  0.        ,  0.        , ...,  0.        ,
         2.        ,  1.        ]])

**Data Splitting**

In [19]:
X.shape

(2240, 8)

In [20]:
X_train,X_test,y_train,y_test=train_test_split(X,y,stratify=y,test_size=0.3,random_state=2020)

**Analysis**

1. Company ingin melakukan Campaign dengan tujuan menarik konsumen yang belum menjadi member/Customer tetap. Dengan meningkatnya jumlah customer member maka akan memudahkan company dalam hal branding serta evaluasi berdasarkan saran-saran dari customer. Campaign yang dilakukan berdasarkan dengan metode campaign terakhir yang memiliki kesuksesan dibandingkan campaign sebelumnya. dan Respon konsumen akan di prediksi berdasarkan profil serta kapan terakhir konsumen tersebut membeli product kita(Recency, jika blm pernah beli maka (-1))

*Customer = Konsumen yang telah menjadi member*

* *0 = No respon*
* *1 = yes*

        - TN: Konsumen yang diprediksi tidak akan merespon campaign, actualnya memang tidak merespon
        - TP: Konsumen yang diprediksi akan merespon campaign, actualnya memang merespon
        - FP: Konsumen yang diprediksi akan merespon campaign, actualnya tidak merespon
        - FN: Konsumen yang diprediksi tidak merespon campaign, actualnya merespon

2 Kesalahan yang terjadi:
* FN: Salah prediksi, company hanya kehilangan calon customer, tetapi tidak rugi financial
* FP: company lebih rugi waktu, tenaga dan financial, karena telah menyiapkan segala sesuatu untuk campaign ke orang tsb, namun ternyata tidak ada respon.

**Jadi kesalahan yang paling berpengaruh untuk kerugian financial adalah FP**

**Metric evaluasi yang dipilih adalah Precision karena akan menekan nilai FP, Nilai FP dan Precision berbanding terbalik**

# **Model BenchMark**

*Cek Balancing Data*

In [21]:
data['Response'].value_counts()/data.shape[0]*100

0    85.089286
1    14.910714
Name: Response, dtype: float64

data imbalance, jd ketika nilai masih rendah bisa dilkukan balancing untuk memilih model terbaik

In [22]:
logreg = LogisticRegression()
tree = DecisionTreeClassifier(random_state = 2020)
knn = KNeighborsClassifier()
rf = RandomForestClassifier(random_state = 2020)

In [23]:
logreg_pipe = Pipeline([
    ('transform',transformer),
    ('logreg',logreg)
])

tree_pipe= Pipeline([
    ('transform',transformer),
    ('tree',tree)
])

knn_pipe =Pipeline([
    ('transform',transformer),
    ('knn',knn)
])

rf_pipe = Pipeline([
    ('transform',transformer),
    ('rf',rf)
])

In [24]:
def model_evaluation(model, metric):
    skfold = StratifiedKFold(n_splits = 5)
    model_cv = cross_val_score(model, X_train, y_train, cv = skfold, scoring = metric)
    return model_cv

logreg_pipe_cv = model_evaluation(logreg_pipe, 'precision')
tree_pipe_cv = model_evaluation(tree_pipe, 'precision')
knn_pipe_cv = model_evaluation(knn_pipe, 'precision')
rf_pipe_cv = model_evaluation(rf_pipe, 'precision')

for model in [logreg_pipe,tree_pipe, knn_pipe,rf_pipe]:
    model.fit(X_train, y_train)
    
score_mean = [logreg_pipe_cv.mean(),tree_pipe_cv.mean(),knn_pipe_cv.mean(),rf_pipe_cv.mean()]
score_std = [logreg_pipe_cv.std(),tree_pipe_cv.std(),knn_pipe_cv.std(),rf_pipe_cv.std()]
score_precision_score = [precision_score(y_test, logreg_pipe.predict(X_test)),
            precision_score(y_test, tree_pipe.predict(X_test)),
            precision_score(y_test, knn_pipe.predict(X_test)),
            precision_score(y_test, rf_pipe.predict(X_test))]
method_name = ['Logistic Regression','Decision Tree Classifier','KNN Classifier', 'Random Forest Classifier']
cv_result = pd.DataFrame({
    'method': method_name,
    'mean score': score_mean,
    'std score': score_std,
    'precision score': score_precision_score
})
cv_result

                     method  mean score  std score  precision score
0       Logistic Regression    0.528766   0.199787         0.823529
1  Decision Tree Classifier    0.252752   0.064072         0.407407
2            KNN Classifier    0.369554   0.057294         0.466667
3  Random Forest Classifier    0.513016   0.090920         0.724138

In [25]:
#cek confusion matrix dr model terbaik
logreg_pipe.fit(X_train, y_train)
ypred=logreg_pipe.predict(X_test)
print(classification_report(y_test,ypred))
print(metrics.confusion_matrix(y_test,ypred))

              precision    recall  f1-score   support

           0       0.87      0.99      0.93       572
           1       0.82      0.14      0.24       100

    accuracy                           0.87       672
   macro avg       0.85      0.57      0.58       672
weighted avg       0.86      0.87      0.83       672

[[569   3]
 [ 86  14]]

**Nilai Precision dan meanscore terbaik pada model Logistic Regression, namun akan dicoba untuk Handling Imbalance terlebih dahulu untuk mendapatkan model dengan nilai stabil**

# **Handling Imbalance Dataset**

*Random Under Sampling*

In [26]:
rus = RandomUnderSampler(random_state = 2020)
X_under, y_under = rus.fit_resample(X_train, y_train)

In [27]:
logreg_pipe_under = Pipeline([
    ('transformer', transformer),
    ('rus', rus),
    ('logreg', logreg)
])

tree_pipe_under = Pipeline([
    ('transformer', transformer),
    ('rus', rus),
    ('tree', tree)
])

knn_pipe_under = Pipeline([
    ('transformer', transformer),
    ('rus', rus),
    ('knn', knn)
])

rf_pipe_under = Pipeline([
    ('transformer', transformer),
    ('rus', rus),
    ('rf', rf)
])

In [28]:
def model_evaluation(model, metric):
    skfold = StratifiedKFold(n_splits = 5)
    model_cv = cross_val_score(model, X_train, y_train, cv = skfold, scoring = metric) 
    return model_cv

logreg_under_cv = model_evaluation(logreg_pipe_under, 'precision') 
tree_under_cv = model_evaluation(tree_pipe_under, 'precision')
knn_under_cv = model_evaluation(knn_pipe_under, 'precision')
rf_under_cv = model_evaluation(rf_pipe_under, 'precision')

for model in [logreg_pipe_under, tree_pipe_under, knn_pipe_under, rf_pipe_under]:
    model.fit(X_train, y_train)

score_mean = [logreg_under_cv.mean(), tree_under_cv.mean(), knn_under_cv.mean(),
              rf_under_cv.mean()]
score_std = [logreg_under_cv.std(), tree_under_cv.std(), knn_under_cv.std(),
             rf_under_cv.std()]
score_precision_score = [precision_score(y_test, logreg_pipe_under.predict(X_test)),
            precision_score(y_test, tree_pipe_under.predict(X_test)), 
            precision_score(y_test, knn_pipe_under.predict(X_test)), 
            precision_score(y_test, rf_pipe_under.predict(X_test))]
method_name = ['Logistic Regression UnderSampling', 'Decision Tree Classifier UnderSampling',
              'KNN Classifier UnderSampling', 'Random Forest Classifier UnderSampling']
under_result = pd.DataFrame({
    'method': method_name,
    'mean score': score_mean,
    'std score': score_std,
    'precision score': score_precision_score
})
under_result

,method,mean score,std score,precision score
0,Logistic Regression UnderSampling,0.266582,0.015287,0.286996
1,Decision Tree Classifier UnderSampling,0.219884,0.022217,0.212329
2,KNN Classifier UnderSampling,0.232455,0.014492,0.214035
3,Random Forest Classifier UnderSampling,0.256854,0.024250,0.283465

In [29]:
#cek confusion matrix dr model terbaik
logreg_pipe_under.fit(X_train, y_train)
ypred=logreg_pipe_under.predict(X_test)
print(classification_report(y_test,ypred))
print(metrics.confusion_matrix(y_test,ypred))

              precision    recall  f1-score   support

           0       0.92      0.72      0.81       572
           1       0.29      0.64      0.40       100

    accuracy                           0.71       672
   macro avg       0.60      0.68      0.60       672
weighted avg       0.83      0.71      0.75       672

[[413 159]
 [ 36  64]]

*Random Over Sampling*

In [30]:
ros = RandomOverSampler(random_state = 2020)
X_over, y_over = ros.fit_resample(X_train, y_train)

In [31]:
logreg_pipe_over = Pipeline([
    ('transformer', transformer),
    ('ros', ros), 
    ('logreg', logreg)
])

tree_pipe_over = Pipeline([
    ('transformer', transformer),
    ('ros', ros), 
    ('tree', tree)
])

knn_pipe_over = Pipeline([
    ('transformer', transformer),
    ('ros', ros), 
    ('knn', knn)
])

rf_pipe_over = Pipeline([
    ('transformer', transformer),
    ('ros', ros),
    ('rf', rf)
])

In [32]:
def model_evaluation(model, metric):
    skfold = StratifiedKFold(n_splits = 5)
    model_cv = cross_val_score(model, X_train, y_train, cv = skfold, scoring = metric)
    return model_cv

logreg_over_cv = model_evaluation(logreg_pipe_over, 'precision') 
tree_over_cv = model_evaluation(tree_pipe_over, 'precision')
knn_over_cv = model_evaluation(knn_pipe_over, 'precision')
rf_over_cv = model_evaluation(rf_pipe_over, 'precision')

for model in [logreg_pipe_over, tree_pipe_over, knn_pipe_over, rf_pipe_over]:
    model.fit(X_train, y_train)

score_mean = [logreg_over_cv.mean(), tree_over_cv.mean(), knn_over_cv.mean(),
              rf_over_cv.mean()]
score_std = [logreg_over_cv.std(), tree_over_cv.std(), knn_over_cv.std(),
             rf_over_cv.std()]
score_precision_score = [precision_score(y_test, logreg_pipe_over.predict(X_test)),
            precision_score(y_test, tree_pipe_over.predict(X_test)), 
            precision_score(y_test, knn_pipe_over.predict(X_test)), 
            precision_score(y_test, rf_pipe_over.predict(X_test))]
method_name = ['Logistic Regression OverSampling', 'Decision Tree Classifier OverSampling',
              'KNN Classifier OverSampling', 'Random Forest Classifier OverSampling']
over_summary = pd.DataFrame({
    'method': method_name,
    'mean score': score_mean,
    'std score': score_std,
    'precision score': score_precision_score
})
over_summary

,method,mean score,std score,precision score
0,Logistic Regression OverSampling,0.274843,0.026533,0.296804
1,Decision Tree Classifier OverSampling,0.322504,0.046616,0.387755
2,KNN Classifier OverSampling,0.212357,0.014576,0.237209
3,Random Forest Classifier OverSampling,0.431780,0.025124,0.500000

In [33]:
#cek confusion matrix dr model terbaik
rf_pipe_over.fit(X_train, y_train)
ypred=rf_pipe_over.predict(X_test)
print(classification_report(y_test,ypred))
print(metrics.confusion_matrix(y_test,ypred))

              precision    recall  f1-score   support

           0       0.88      0.95      0.92       572
           1       0.50      0.29      0.37       100

    accuracy                           0.85       672
   macro avg       0.69      0.62      0.64       672
weighted avg       0.83      0.85      0.83       672

[[543  29]
 [ 71  29]]

*NearMiss*

In [34]:
nm = NearMiss(version = 1)

In [35]:
logreg_pipe_nm = Pipeline([
    ('transformer', transformer),
    ('nm', nm),
    ('logreg', logreg)
])

tree_pipe_nm = Pipeline([
    ('transformer', transformer),
    ('nm', nm),
    ('tree', tree)
])

knn_pipe_nm = Pipeline([
    ('transformer', transformer),
    ('nm', nm),
    ('knn', knn)
])

rf_pipe_nm = Pipeline([
    ('transformer', transformer),
    ('nm', nm),
    ('rf', rf)
])

In [36]:
def model_evaluation(model, metric):
    skfold = StratifiedKFold(n_splits = 5)
    model_cv = cross_val_score(model, X_train, y_train, cv = skfold, scoring = metric)
    return model_cv

logreg_nm_cv = model_evaluation(logreg_pipe_nm, 'precision') 
tree_nm_cv = model_evaluation(tree_pipe_nm, 'precision')
knn_nm_cv = model_evaluation(knn_pipe_nm, 'precision')
rf_nm_cv = model_evaluation(rf_pipe_nm, 'precision')

for model in [logreg_pipe_nm, tree_pipe_nm, knn_pipe_nm, rf_pipe_nm]:
    model.fit(X_train, y_train)
    
score_mean = [logreg_nm_cv.mean(), tree_nm_cv.mean(), knn_nm_cv.mean(),
              rf_nm_cv.mean()]
score_std = [logreg_nm_cv.std(), tree_nm_cv.std(), knn_nm_cv.std(),
             rf_nm_cv.std()]
score_precision_score = [precision_score(y_test, logreg_pipe_nm.predict(X_test)),
            precision_score(y_test, tree_pipe_nm.predict(X_test)), 
            precision_score(y_test, knn_pipe_nm.predict(X_test)), 
            precision_score(y_test, rf_pipe_nm.predict(X_test))]
method_name = ['Logistic Regression NearMiss', 'Decision Tree Classifier NearMiss',
              'KNN Classifier NearMiss', 'Random Forest Classifier NearMiss']
nm_summary = pd.DataFrame({
    'method': method_name,
    'mean score': score_mean,
    'std score': score_std,
    'precision score': score_precision_score
})
nm_summary

                              method  mean score  std score  precision score
0       Logistic Regression NearMiss    0.179701   0.019814         0.163978
1  Decision Tree Classifier NearMiss    0.165203   0.012071         0.179348
2            KNN Classifier NearMiss    0.196628   0.014884         0.202429
3  Random Forest Classifier NearMiss    0.175692   0.015804         0.176179

In [37]:
#cek confusion matrix dr model terbaik
knn_pipe_nm.fit(X_train, y_train)
ypred=knn_pipe_nm.predict(X_test)
print(classification_report(y_test,ypred))
print(metrics.confusion_matrix(y_test,ypred))

              precision    recall  f1-score   support

           0       0.88      0.66      0.75       572
           1       0.20      0.50      0.29       100

    accuracy                           0.63       672
   macro avg       0.54      0.58      0.52       672
weighted avg       0.78      0.63      0.68       672

[[375 197]
 [ 50  50]]

In [38]:
#Summary Balancing Dataset
resume_balancing = pd.concat([under_result,over_summary,nm_summary], axis=0)
resume_balancing

,method,mean score,std score,precision score
0,Logistic Regression UnderSampling,0.266582,0.015287,0.286996
1,Decision Tree Classifier UnderSampling,0.219884,0.022217,0.212329
2,KNN Classifier UnderSampling,0.232455,0.014492,0.214035
3,Random Forest Classifier UnderSampling,0.256854,0.024250,0.283465
0,Logistic Regression OverSampling,0.274843,0.026533,0.296804
1,Decision Tree Classifier OverSampling,0.322504,0.046616,0.387755
2,KNN Classifier OverSampling,0.212357,0.014576,0.237209
3,Random Forest Classifier OverSampling,0.431780,0.025124,0.500000
0,Logistic Regression NearMiss,0.179701,0.019814,0.163978
1,Decision Tree Classifier NearMiss,0.165203,0.012071,0.179348
2,KNN Classifier NearMiss,0.196628,0.014884,0.202429
3,Random Forest Classifier NearMiss,0.175692,0.015804,0.176179

**setelah dilakukan balancing dataset ternyata nilai precision dan accuracy turun, dan Nilai precicion antara kelas 1 & 0 yang balance ada di model tanpa balancing dataset, sehingga digunakan model tanpa balancing dataset.Dan berdasarkan resume diatas model yang stabil adalah KNN dan Logistic regression. kemudian akan mencoba model Boosting**

# **BOOSTING**

In [39]:
adaboost = AdaBoostClassifier(
            tree,
            n_estimators = 50,
            learning_rate = 0.1,
            random_state = 2020)

pipe_ada = Pipeline([
    ('transformer', transformer),
    ('adaboost', adaboost)
])

gradboost = GradientBoostingClassifier(
            n_estimators = 50,
            learning_rate = 0.1,
            max_depth = 3,
            random_state = 2020)

pipe_grad = Pipeline([
    ('transformer', transformer),
    ('gradboost', gradboost)
])

XGBOOST = XGBClassifier(
            n_estimators = 50,
            learning_rate = 0.1,
            max_depth = 3,
            random_state = 2020)

pipe_XGB = Pipeline([
    ('transformer', transformer),
    ('XGBOOST', XGBOOST)
])

In [40]:
def model_evaluation(model, metric):
    skfold = StratifiedKFold(n_splits = 5)
    model_cv = cross_val_score(model, X_train, y_train, cv = skfold, scoring = metric, n_jobs = -1)
    return model_cv

pipe_ada_cv = model_evaluation(pipe_ada, 'precision')
pipe_grad_cv = model_evaluation(pipe_grad, 'precision')
pipe_XGB_cv = model_evaluation(pipe_XGB, 'precision')

for model in [pipe_ada, pipe_grad, pipe_XGB]:
    model.fit(X_train, y_train)
    
score_mean = [pipe_ada_cv.mean(), pipe_grad_cv.mean(), pipe_XGB_cv.mean()]
score_std = [pipe_ada_cv.std(), pipe_grad_cv.std(), pipe_XGB_cv.std()]
score_precision_score = [precision_score(y_test, pipe_ada.predict(X_test)),
            precision_score(y_test, pipe_grad.predict(X_test)), 
            precision_score(y_test, pipe_XGB.predict(X_test))]
method_name = ['Ada Boost Classifier', 'Gradient Boost Classifier',
              'XGB Classifier']
boost_summary = pd.DataFrame({
    'method': method_name,
    'mean score': score_mean,
    'std score': score_std,
    'precision score': score_precision_score
})
boost_summary

[01:15:51] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

                      method  mean score  std score  precision score
0       Ada Boost Classifier    0.320199   0.057693         0.363636
1  Gradient Boost Classifier    0.542337   0.126316         0.714286
2             XGB Classifier    0.554471   0.125104         0.772727

In [41]:
resume_model = pd.concat([cv_result,boost_summary], axis=0)
resume_model

                      method  mean score  std score  precision score
0        Logistic Regression    0.528766   0.199787         0.823529
1   Decision Tree Classifier    0.252752   0.064072         0.407407
2             KNN Classifier    0.369554   0.057294         0.466667
3   Random Forest Classifier    0.513016   0.090920         0.724138
0       Ada Boost Classifier    0.320199   0.057693         0.363636
1  Gradient Boost Classifier    0.542337   0.126316         0.714286
2             XGB Classifier    0.554471   0.125104         0.772727

In [42]:
#cek confusion matrix dr model Logreg
logreg_pipe.fit(X_train, y_train)
ypred=logreg_pipe.predict(X_test)
print(classification_report(y_test,ypred))
print(metrics.confusion_matrix(y_test,ypred))

              precision    recall  f1-score   support

           0       0.87      0.99      0.93       572
           1       0.82      0.14      0.24       100

    accuracy                           0.87       672
   macro avg       0.85      0.57      0.58       672
weighted avg       0.86      0.87      0.83       672

[[569   3]
 [ 86  14]]

In [43]:
#cek confusion matrix dr model XGB boost(terbaik kedua)
pipe_XGB.fit(X_train, y_train)
ypred=pipe_XGB.predict(X_test)
print(classification_report(y_test,ypred))
print(metrics.confusion_matrix(y_test,ypred))

[01:15:52] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
              precision    recall  f1-score   support

           0       0.87      0.99      0.93       572
           1       0.77      0.17      0.28       100

    accuracy                           0.87       672
   macro avg       0.82      0.58      0.60       672
weighted avg       0.86      0.87      0.83       672

[[567   5]
 [ 83  17]]

**Berdasarkan resume diatas maka akan digunakan Logistic Regresi, karena memiliki nilai precision tertinggi dan nilai precision antara kelas 1 dan 0 tidak beda jauh. kemudian akan lanjut ke proses hyperparameter tunning**

# Hyperparameter Tunning

In [44]:
logreg=LogisticRegression()

estimator = Pipeline([
    ('transformer', transformer),
    ('model', logreg)
])

hyperparam_space =  {
    'model__C': [100, 10, 1, 0.1, 0.01, 0.001],
    'model__solver': ['liblinear', 'newton-cg']
}

In [45]:
grid_search = GridSearchCV(
                estimator,
                param_grid = hyperparam_space,
                cv = StratifiedKFold(n_splits = 5),
                scoring = 'precision',
                n_jobs = -1)

In [46]:
grid_search.fit(X_train, y_train)

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=False),
             estimator=Pipeline(steps=[('transformer',
                                        ColumnTransformer(remainder='passthrough',
                                                          transformers=[('impute',
                                                                         Pipeline(steps=[('impute',
                                                                                          SimpleImputer()),
                                                                                         ('scaling',
                                                                                          RobustScaler())]),
                                                                         ['Income']),
                                                                        ('encoder',
                                                                         OneHotEncoder(handle_unknown='ignore'),
                                                                         ['Education',
                                                                          'Marital_Status']),
                                                                        ('binary',
                                                                         BinaryEncoder(),
                                                                         ['Country']),
                                                                        ('scale',
                                                                         RobustScaler(),
                                                                         ['Customer_Age',
                                                                          'Recency'])])),
                                       ('model', LogisticRegression())]),
             n_jobs=-1,
             param_grid={'model__C': [100, 10, 1, 0.1, 0.01, 0.001],
                         'model__solver': ['liblinear', 'newton-cg']},
             scoring='precision')

In [47]:
print('best score', grid_search.best_score_)
print('best param', grid_search.best_params_)

best score 0.599047619047619
best param {'model__C': 0.1, 'model__solver': 'newton-cg'}

In [48]:
logreg_pipe.fit(X_train, y_train)
y_pred_estimator = logreg_pipe.predict(X_test)
precision_estimator = precision_score(y_test, y_pred_estimator)

grid_search.best_estimator_.fit(X_train, y_train)
y_pred_grid = grid_search.best_estimator_.predict(X_test)
precision_best_estimator = precision_score(y_test, y_pred_grid)

score_list = [precision_estimator, precision_best_estimator]
method_name = ['Logistic Regression Before', 'Logistic Regression After']
best_summary = pd.DataFrame({
    'method': method_name,
    'score': score_list
})
best_summary

                       method     score
0  Logistic Regression Before  0.823529
1   Logistic Regression After  0.666667

**Nilai precision score sebelum dan sesudah tunning lebih baik sebelum tunning, sehingga akan diambil model tanpa tunning**

### Saving Model

In [68]:
marketing= data

In [69]:
marketing.columns

Index(['Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome',
       'Recency', 'Response', 'Country', 'Customer_Age'],
      dtype='object')

In [70]:
marketing.to_csv('marketing.csv')

In [71]:
X=marketing.drop(['Response'],axis=1)
y=marketing['Response']

In [72]:
X_train,X_test,y_train,y_test=train_test_split(X,y,stratify=y,test_size=0.3,random_state=2020)

In [73]:
model=LogisticRegression()

mean_scale = Pipeline([
    ('impute', SimpleImputer(strategy = 'mean')),
    ('scaling', RobustScaler()),
])

transformer = ColumnTransformer([
    ('impute',mean_scale,['Income']),
    ('encoder',OneHotEncoder(handle_unknown='ignore'),['Education','Marital_Status']),
    ('binary',ce.BinaryEncoder(),['Country']),
    ('scale',RobustScaler(),['Customer_Age','Recency'])
],remainder='passthrough')


model_final = Pipeline([
    ('transformer',transformer),
    ('model', model)
])

In [74]:
model_final.fit(X_train, y_train)
y_pred_estimator = model_final.predict(X_test)
print(precision_score(y_test, y_pred_estimator))

0.8235294117647058

In [75]:
model_final.fit(X,y) #Final model, fit ke X dan y untuk memaksimalkan jumlh data yg diplajari oleh model

#with pickle
file_name='Model Final.sav'
pickle.dump(model_final,open(file_name,'wb'))

**Predict with Saved Model**

In [76]:
loaded_model = pickle.load(open(file_name,'rb'))

In [77]:
loaded_model.predict(X_test)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [78]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Education       2240 non-null   object
 1   Marital_Status  2240 non-null   object
 2   Income          2216 non-null   float64
 3   Kidhome         2240 non-null   int64
 4   Teenhome        2240 non-null   int64
 5   Recency         2240 non-null   int64
 6   Country         2240 non-null   object
 7   Customer_Age    2240 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 140.1+ KB

In [79]:
df_predict=pd.DataFrame({
    'Education':['Master'],
    'Marital_Status':['Single'],
    'Income':[21888],
    'Kidhome':[1],
    'Teenhome':[0],
    'Recency':[15],
    'Country':['ME'],
    'Customer_Age':[30]
})

In [80]:
loaded_model.predict(df_predict)

array([1], dtype=int64)

In [81]:
loaded_model.predict_proba(df_predict)

array([[0.46744927, 0.53255073]])

In [83]:
data['Country'].unique()

array(['SP', 'CA', 'US', 'AUS', 'GER', 'IND', 'SA', 'ME'], dtype=object)